.capture-input {
  display: none;
}

.capture-icon {
  cursor: pointer;
  margin: 5px;
  height: 50px;
  width: 50px;
}

.capture-icon-path {
  fill: #61dafb;
}

.capture-icon:hover .capture-icon-path {
  fill: #61dafb;
}

.capture-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-icon {
  margin: 5px;
  height: 50px;
  width: 50px;
}

.upload-icon-path {
  fill: white;
  fill-rule: "evenodd";
  clip-rule: "evenodd";
}

.upload-button {
  cursor: pointer;
  padding: 10px;;
  color: #61dafb;
  background-color: transparent;
  border: 1px solid #61dafb;
  border-radius: 5px;
}

.upload-button:hover {
  color: #61dafb;
  border-color: #61dafb;
  background-color: #000000;
}

.video {
  border: none;
  padding: 10px;
  width: auto;
  height: auto;
  box-shadow: none;
  margin: 10px;
  height: 250px;
  width: auto;
}