.capture-input {
  display: none;
}

.capture-icon {
  cursor: pointer;
  margin: 5px;
  height: 50px;
  width: 50px;
}

.capture-icon-path {
  fill: #1976d2;
}

.capture-icon:hover .capture-icon-path {
  fill: #1976d2;
}

.capture-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.capture-webcam-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landscape-icon-path {
  fill: lightgrey;
}

.upload-icon {
  margin: 5px;
  height: 50px;
  width: 50px;
}

.upload-icon-path {
  fill: white;
  fill-rule: 'evenodd';
  clip-rule: 'evenodd';
}

.upload-button {
  cursor: pointer;
  padding: 10px;
  color: #1976d2;
  background-color: transparent;
  border: 1px solid #1976d2;
  border-radius: 5px;
  margin-top: 10px;
  width: 200px;
}

.upload-button:hover {
  color: white;
  border: none;
  background-color: #1976d2;
}

.upload-preview-wrapper {
  display: flex;
  background-color: lightslategray;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 10px;
  height: 250px;
}

.upload-preview {
  height: 100%;
}

.video {
  border: none;
  padding: 10px;
  width: auto;
  height: auto;
  box-shadow: none;
  margin: 10px;
  height: 250px;
  width: auto;
}

.capture-preview-item {
  display: flex;
  justify-content: space-between;
  width: 330px;
  margin-bottom: 10px;
  padding: 0px 10px;
}

.capture-preview-field {
  font-weight: bold;
  color: #4169e1;
}
